.success-page{
    max-width:300px;
    display:block;
    margin: 0 auto;
    text-align: center;
        position: relative;
      top: 50%;
      transform: perspective(1px) translateY(50%)
  }
  .success-page img{
    max-width:62px;
    display: block;
    margin: 0 auto;
  }
  
  .btn-view-orders{
    display: block;
    border:1px solid #47c7c5;
    width:100px;
    margin: 0 auto;
    margin-top: 45px;
    padding: 10px;
    color:#fff;
    background-color:#47c7c5;
    text-decoration: none;
    margin-bottom: 20px;
  }
  
  .header_sucess{
    color:#47c7c5;
    margin-top: 25px;
  
  }

  .link__success{
    text-decoration: none;
  }