

.menu-toggler {
    display: none;
}

.menu-toggler__label {
    display: block;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 44px;
    height: 100%;
    z-index: 3;
}

.menu-toggler__label:hover,
.menu-toggler__label:focus,
.menu-toggler__label:active {
    cursor: pointer
}

.menu-toggler__label__text {
    position: absolute;
    text-indent: -9999px;
}

.menu-toggler__label__visual span {
    display: block;
    position: absolute;
    width: 100%;
    height: 6px;
    background-color: #1fbed6;
    transition: transform .5s, top .5s, bottom .5s, opacity .2s;
    /*transition: transform 4s, top 4s, bottom 4s, opacity 4s;*/
    opacity: 1;
}

.menu-toggler__label__visual span:nth-child(1){
    top: 5px;
}

.menu-toggler__label__visual span:nth-child(2) {
    top: 50%;
    margin-top: -3px
}

.menu-toggler__label__visual span:nth-child(3) {
    bottom: 5px;
}

.menu-toggler:checked + .menu-toggler__label .menu-toggler__label__visual span:nth-child(1) {
    transform: rotate(45deg);
    top: 19px;
}

.menu-toggler:checked + .menu-toggler__label .menu-toggler__label__visual span:nth-child(2) {
    opacity: 0;
}

.menu-toggler:checked + .menu-toggler__label .menu-toggler__label__visual span:nth-child(3) {
    transform: rotate(-45deg);
    bottom: 19px;
}


.main-menu {
    position: absolute;
    list-style-type: none;
    top: 44px;
    left: 0;
    right: 0;
    margin: 0;
    margin-top:0.3em; 
    padding-left: 0;
    display: none;
    z-index: 3;
}

.menu-toggler:checked ~ .main-menu {
    display: block;
}

.main-menu li {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #fff;
}

.main-menu a {
    display: block;
    line-height: 44px;
    padding: 0 .7em;
}

.main-menu a,
.main-menu a:visited,
.main-menu a:hover,
.main-menu a:focus,
.main-menu a:active {
    text-decoration: none;
    color: #fff;
}

.main-menu a,
.main-menu a:visited {
    background-color: #1fbed6;
}

.main-menu a:hover,
.main-menu a:focus,
.main-menu a:active {
    background-color: #17a0b5;
}

.icon-navbar{
    font-size: xx-large;
    color: #17a0b5;
}

.background-white{
    background-color: #fff;
}

header {
    display: flex;
    align-items: center;  
    background-color: #fff;
}

body{
    margin: 0%;
}

main{
    margin-bottom: 3em;
}

.p-texte{
    text-align: center;
}
.p-titre{
    margin-top: 1.5em ;
    margin-bottom: 0px; 
}
.no-marge{
    margin: 0px;
}

.background-white{
    background-color: #fff;
}

.blue{
    color: aqua;
}

.blue-2{
    color: #11BBDD;
}

.white{
    color: #fff;
}

.logo{
    margin: 0em;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin-top: 0; 
    margin-bottom: 0; 
}

li.pipe{
    border-right: 1px solid #000; 
    text-decoration: none;
}

.ss_bar {
    text-decoration: none;
    color: #fff;
    left: 0;
}

.ss_bar:hover {
    color: gray;
}

.bar{
    text-decoration: none;
    color: #000;
    padding: 10px;
}

.btnLogin{
    margin-left: 10px;
}
.bar:hover{
    color: gray;
}

#menu li ul {
    position:absolute;
    }

#menu ul li ul {
    display: none;
    position: absolute;
    background-color: #cccccc;
    min-width: 115px;
    z-index: 2;
    padding-inline-start: 0px;
}

#menu ul li ul li {
    display: block;
    width: auto; 
}

#menu ul ul a {
    display: inline-block;
}

#menu li:hover ul {
    display: block;
}


.banniere{
    background-image:url(../../static/image/fish.jpg);
    background-color: #cccccc;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
   
}

.banniere-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.btn-1{
    background-color:Transparent ;
    display: inline-block;
    color: #cccccc;
    cursor: pointer;
    border: 1px solid #cccccc;
    padding: 10px 25px;
}

.bloc_vente{
    padding-top: 1px;
    padding-bottom: 1em;
    background-color:#EFEFEF
}


.block{
    display: flex;
    justify-content: center;
    
    flex-wrap:wrap;
    width: 250px;
    height: 200px;
    background-color: #11BBDD;
}

.cercle{
    background:#fff;
    border-radius:50%;
    widows: 80px;
    height: 80px;
    margin-top: 15px;
}

.mid-block{
    display: flex;
    justify-content: center;
}

.mid-cerle{
    display: flex;
    justify-content: center;
    align-items: center;
    width:80px;
    height:80px;
    font-size: 48px;
}

.rotate{
    transform:rotate(140deg);
}



.actualites{
    margin-right:25px;
    margin-left:25px; 
}

.article{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around
}

.article-description{
    display: flex; 
}

.article-description-block1{
    display: flex;
    justify-content:space-between;
}

.article-btn{
    background-color:white ;
    text-align: center;
    display: inline-block;
    color: black;
    cursor: pointer;
    border: 1px solid black;
    padding: 10px 25px;
}


.actualite-btn{
    text-align: center;
    position: relative;
}


.main-footer {
    background-color:#11BBDD;
    color: #fff;
}

.footer-lien-rs{
    text-decoration: none;
    color: #000;
}

.footer-block{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around
}

.footer-media{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.footer-media-image{
    margin-bottom: 10px;
}

.footer-pro{
    text-decoration: none;
    list-style-type: none;
    text-align: left
}

.footer-pro-li{
    text-decoration: none;
}

.footer-pro-li:hover{
    color: gray;
}

.navbar__header,
.logo_header{
    display: flex;
    align-items: center;
}

.position {
    position: relative;
    z-index: 10,
}

@media screen and (max-width : 800px ) {
    .nav-screen-sup{
        display: none;
    }
}

@media screen and (min-width : 801px){
    .nav-screen-inf{
        display: none;
    }
}