.carousel {
    width:640px;
    height:360px;
  }
  

.main {
    margin: 20px auto ;
    max-width: 90%;
    padding: 0px;
}

.image__product,
.carousel__index{
    display: flex;
    justify-content: center;
}

.h1__index{
    display: flex;
    justify-content: start;
}

#page-content {
    padding: 50px 0;
  }

.project-info .info {
margin: 15px 0;
}

#project-slider {
    margin-bottom: 30px;
}

.hide {
    display: none;
}

.card__img{
    width:352px;
    height:160px;
}

.btn_carou {
    z-index: inherit 1;;
}