.success-page{
    max-width:300px;
    display:block;
    margin: 0 auto;
    text-align: center;
        position: relative;
      top: 50%;
      transform: perspective(1px) translateY(50%)
  }

  .header_cancel{
    color:red;
    margin-top: 25px;
  
  }

  .link__cancel{
    text-decoration: none;
  }